<a href="{{comment.user.html_url}}">{{comment.user.login}}</a> <a href="{{comment.html_url}}">commented</a> on issue <a href="{{issue.html_url}}">#{{issue.number}}: {{trim issue.title length=30}}</a>
