<a href="{{comment.user.html_url}}">{{comment.user.login}}</a> commented on {{comment.path}} (<a href="{{comment.html_url}}">{{trim comment.commit_id}}</a>) for {{repository.full_name}}
{{#if comment.body}}<pre>{{summarize comment.body}}</pre>{{/if}}