<a href="{{comment.user.html_url}}"><b>{{comment.user.login}}</b></a> {{action}} a <a href="{{comment.html_url}}">comment</a> on pull request #<a href="{{issue.pull_request.html_url}}">{{issue.number}}</a>: <a href="{{issue.pull_request.html_url}}"><b>{{issue.title}}</b></a><br>
<pre>{{comment.body}}</pre>