<a href="{{pusher.html_url}}"><b>{{pusher.name}}</b></a> pushed {{commits.length}} commit(s) to <b><a href="{{repository.url}}">{{repository.name}}</a> ({{ref}})</b><br>
{{#each commits}}
- {{this.message}} <a href="{{this.url}}">{{trim this.id}}</a> / {{this.author.username}}<br>
{{else}}
{{/each}}