<b>{{pusher.name}}</b> pushed {{commits.length}} commit(s) to <b><a href="{{repository.url}}">{{repository.name}}</a> ({{branch}})</b><br>
{{#each commits}}
- {{this.message}} <a href="{{this.url}}">{{trim this.id}}</a> / {{this.author.username}}<br>
{{else}}
{{/each}}