<a href="{{release.author.html_url}}">{{release.author.login}}</a> {{action}} a new release for <a href="{{repository.html_url}}">{{repository.full_name}}</a>: <a href="{{release.html_url}}"><b>{{release.name}}</b></a>
<pre>{{summarize release.body}}</pre>